<% content_for :header do %>
<ul class="megamenu">
  <li>
    <a href="javascript:void">AAA</a>
    <div>
      <table>
        <tr>
          <th><div>div</div></th>
          <th><div>div</div></th>
          <th><div>div</div></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li><a href="">a</a></li>
              <li><a href="">a</a></li>
              <li><a href="">a</a></li>
            </ul>
          </td>
          <td>
            <ul>
              <li><a href="">a</a></li>
              <li><a href="">a</a></li>
              <li><a href="">a</a></li>
            </ul>
          </td>
          <td>
            <ul>
              <li><a href="">a</a></li>
              <li><a href="">a</a></li>
              <li><a href="">a</a></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </li>
  <li>
    <a href="javascript:void">BBB</a>
  </li>
</ul>
<% end %>

<h1>Listing blogs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr class='<%= dom_class(blog) %>'>
    <td><%= blog.user %></td>
    <td><%= blog.name %></td>
    <td><%= link_to 'Show', blog, :class => 'show' %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
