<%= form_for(@entry, :html => {:class => "enable-exvalidation"}) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr class="field">
    <td><%= f.label :title %></td><td><%= f.text_field :title, :id => "blog_title" %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :contents %></td><td><%= f.text_area :contents, :id => "blog_contents" %></td>
  </tr>
  <tr class="actions">
    <%= f.submit %>
  </tr>
</table>
<% end %>
