<h1>Listing entries</h1>

<table id="entries_list">
  <tr>
    <th>ID</th>
    <th>Blog</th>
    <th>Title</th>
    <th>Contents</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr class='<%= dom_class(entry) %>' id='<%= dom_id(entry)%>'>
    <td><%= entry.id %></td>
    <td><%= entry.blog.name %></td>
    <td><%= entry.title %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<nav id="page-nav">
  <%= link_to "", entries_path(:page => @page+1) %>
</nav>

<br />

<%= link_to 'New Entry', new_entry_path %>
