<% content_for :header do %>
  <div id="breadCrumb" class="breadCrumb module">
    <ul>
      <li><%= link_to "Users", users_path, :class => "active", :title => "ユーザー" %></li>
      <li><%= link_to "Blogs", blogs_path, :title => "ブログ"  %></li>
      <li><%= link_to "Entries", entries_path, :title => "記事" %></li>
    </ul>
  </div>
<% end %>

<h1>Listing entries</h1>
<button id="save_time">SAVE TIME</button>
<button id="load_time">LOAD TIME</button>

<% if params[:enable_jquery_ui_tabs] %>
  Tabs
  <div id="tabs">
    <ul>
      <% @entries.each do |entry| %>
        <li><%= link_to entry.title, "##{dom_id(entry)}" %></li>
      <% end %>
    </ul>
    <% @entries.each do |entry| %>
      <div id="<%= dom_id(entry) %>"><%= entry.contents %></div>
    <% end %>
  </div>
<% elsif params[:enable_jquery_ui_accordion] %>
  Accordion
  <div id="accordion">
    <% @entries.each do |entry| %>
    <h2><%= link_to entry.title, entry_path(entry) %></h2>
    <div id="<%= dom_id(entry) %>"><%= entry.contents[0..200] %></div>
    <% end %>
  </div>
<% elsif params[:enable_filtrify] %>
  <div id='placeHolder'>PLACEHOLDER</div>
  <ul id='container_index'>
    <% @entries.each do |entry| %>
    <li data-genre="foo<%= entry.contents.length % 3 %>"><%= entry.title %></li>
    <% end %>
  </ul>
<% elsif params[:enable_vgrid] || params[:enable_equal_height] %>
  <div class="<%= params[:enable_vgrid] ? 'enable-vgrid' : ''%> <%= params[:enable_equal_height] ? 'enable-equal-height' : '' %>">
    <% @entries.each do |entry| %>
      <div class="width200 box">
        <h3><%= entry.title %></h3>
        <p><%= entry.contents[0..rand(200)] %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <table id="entries_list" class="<%= params[:'enable_crosstable'] ? 'enable-crosstable' : '' %>">
    <tr>
      <th>ID</th>
      <th>Blog</th>
      <th>Title</th>
      <th>Contents</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @entries.each do |entry| %>
    <tr class='<%= dom_class(entry) %>' id='<%= dom_id(entry)%>'>
      <td><%= entry.id %></td>
      <td><%= entry.blog.name %></td>
      <td><%= entry.title %></td>
      <td><%= link_to 'Show', entry %></td>
      <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
      <td><%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<nav id="page-nav">
  <%= link_to "", entries_path(:page => @page+1) %>
</nav>

<br />

<%= link_to 'New Entry', new_entry_path %>
