<h1>Listing entries</h1>

<% if params[:enable_vgrid] %>
  <div class="enable-vgrid">
    <% @entries.each do |entry| %>
      <div class="width200">
        <h3><%= entry.title %></h3>
        <p><%= entry.contents[0..rand(200)] %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <table id="entries_list" class="<%= params[:'enable_crosstable'] ? 'enable-crosstable' : '' %>">
    <tr>
      <th>ID</th>
      <th>Blog</th>
      <th>Title</th>
      <th>Contents</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @entries.each do |entry| %>
    <tr class='<%= dom_class(entry) %>' id='<%= dom_id(entry)%>'>
      <td><%= entry.id %></td>
      <td><%= entry.blog.name %></td>
      <td><%= entry.title %></td>
      <td><%= link_to 'Show', entry %></td>
      <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
      <td><%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<nav id="page-nav">
  <%= link_to "", entries_path(:page => @page+1) %>
</nav>

<br />

<%= link_to 'New Entry', new_entry_path %>
