<% content_for :header do %>
<ul class="sf-menu">
  <li><a href='#'>item</a></li>
  <li><a href='#'>item</a></li>
  <li><a href='#'>item</a>
    <ul>
      <li><a href='#'>item</a></li>
      <li><a href='#'>item</a></li>
      <li><a href='#'>item</a></li>
      <li><a href='#'>item</a>
      <ul>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
      </ul>
      </li>
    </ul>
	</li>
</ul>
<div id='hatena'></div>
<% end %>

<p id="notice"><%= notice %></p>

<% if params['enable_idtabs'] %>
<div id='enable-idtabs'>
  <dl class='photo'>
   	<dt><a href="#photo1"><img src="/assets/arrow2.png" alt="" width="50" height="50" /></a></dt>
   	<dd><img name='photo1' src="/assets/arrow2.png" alt="" width="200" height="200" id='photo1'/></dd>
   	<dt><a href="#photo2"><img src="/assets/arrow3.png" alt="" width="50" height="50" /></a></dt>
   	<dd><img name='photo2' src="/assets/arrow3.png" alt="" width="200" height="200" id='photo2'/></dd>
  </dl>
</div>
<% elsif params['enable_noisy'] %>
  <div class='enable-noisy'>
    <%= @entry.contents %>
  </div>
<% else %>
  <p>
    <b>Title:</b>
    <%= @entry.title %>
  </p>

  <div id='enable-tiny-scrollbar'>
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end">
    </div></div></div></div>
    <div class='viewport'>
      <div class='overview'>
        <%= @entry.contents %>
      </div>
    </div>
  </div>

  <hr>

  <div class="columns">
    <p>
    <%= @entry.contents %>
    </p>
  </div>

  <hr>

  <p>
    <b>Contents:</b>
    <%= image_tag "arrow.png", :class => "start_mark" %>
    <%= @entry.contents %>
  </p>


  <%= link_to 'Edit', edit_entry_path(@entry) %> |
  <%= link_to 'Back', entries_path %>
<% end %>
