<p id="notice"><%= notice %></p>

<p>
  <b>Blog:</b>
  <%= @entry.blog %>
</p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<p>
  <b>Contents:</b>
  <%= @entry.contents %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
